<template>
    <div class="d-flex justify-content-center">
        <div class="card text-center login-form mt-4">
            <div class="card-body">
                <h5 class="card-title">{{ componentTitle }}</h5>
                <form class="card-text" @submit="handleLogin">

                    <div class="row" v-if="successMessage">
                        <div class="col-12">
                            <div class="alert alert-success">
                                {{ successMessage }}
                            </div>
                        </div>
                    </div>

                    <div class="row" v-if="error">
                        <div class="col-12">
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="email">Adres e-mail</label>
                                <input v-model="email" type="email" class="form-control" id="email" aria-describedby="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="password">Hasło</label>
                                <input v-model="password" type="password" class="form-control" id="password" aria-describedby="password">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" :value="submitButtonName" />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <a @click="handleModeChange" href=""><small>{{ modeChangePrompt }}</small></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import ApiClient from './ApiClient.vue';

export default {
    name: 'AuthView',
    data() {
        return {
            loginMode: true,
            email: '',
            password: '',
            error: null,
            successMessage: null
        }
    },
    computed: {
        componentTitle() {
            return this.loginMode === true ? 'Logowanie' : 'Rejestracja';
        },
        submitButtonName() {
            return this.loginMode === true ? 'Zaloguj się' : 'Zarejestruj się';
        },
        modeChangePrompt() {
            return this.loginMode === true ? 'Nie masz konta? Zarejestruj się!' : 'Masz konto? Zaloguj się!';
        }
    },
    mixins: [ ApiClient ],
    methods: {
        handleLogin(ev) {
            (async (component = this) => {
                let email = component.email;
                let password = component.password;

                ev.preventDefault(); // zapobiega odświeżeniu strony
                try {
                    var response = await this.post(component.loginMode ? 'http://localhost:8080/login' : 'http://localhost:8080/register', 
                        JSON.stringify({email, password}),
                        false // we are not authenticated yet
                    );
                    
                    if (component.loginMode) { // login mode
                        if (response != null && response.result === "success") {
                            component.$store.commit('setNewSession', response.session);
                        } else {
                            component.error = "Wystąpił błąd podczas logowania.";
                        }
                    } else { // register mode
                        if (response.id != null) {
                            component.successMessage = "Użytkownik zarejestrowany pomyślnie.";
                        }
                    }
                } catch (err) {
                    component.error = err;
                }
            })();
        },
        handleModeChange(ev) {
            ev.preventDefault();
            this.loginMode = !this.loginMode;
        }
    }
}
</script>

<style>
.login-form {
    width: 26rem;
}
</style>