<template>
    <div class="container">
        <div v-if="!selectedTodoList">
            <div class="row">
                <div class="col-12">
                    <div class="list-group" v-for="todoListElement in todoList" :key="todoListElement.id">
                        <todo-list @todolistsave="handleTodoListSave" @todolistclick="handleTodoListClick" @todolistdelete="handleTodoListDelete"
                            :id="todoListElement.id" v-model="todoListElement.title" />
                    </div>
                </div>
            </div>
            
            <todo-list-form @todolistadded="handleNewTodoList" />
        </div>
        <div v-else>
            <div class="row">
                <div class="col-12">
                    <todo-list-items-view @todolistback="handleBack" :todoList="selectedTodoList" />
                </div>
            </div>
        </div>

        <todo-list-delete-modal @todolistdeleted="handleTodoListDeletion"
            v-model="deletionTarget" />
    </div>
</template>

<script>
import ApiClient from './ApiClient.vue' 
import TodoListForm from './TodoListForm.vue'
import TodoList from './TodoList.vue'
import TodoListItemsView from './TodoListItemsView.vue'
import TodoListDeleteModal from './TodoListDeleteModal.vue'

export default {
    name: 'TodoListView',
    mixins: [ ApiClient ],
    components: {
        TodoListItemsView,
        TodoListForm,
        TodoList,
        TodoListDeleteModal
    },
    data() {
        return {
            todoList: [],
            selectedTodoList: null,
            deletionTarget: null
        }
    },
    computed: {
        session() {
            return this.$store.state.session;
        }
    },
    created() {
        this.loadLists();
    },
    methods: {
        loadLists() {
            (async (component = this) => {
                let response = await this.get('http://localhost:8080/todo');
                component.todoList = response
            })();
        },

        handleNewTodoList(todoList) {
            this.todoList.push(todoList);
        },

        handleTodoListClick(todoListId) {
            this.selectedTodoList = this.todoList.find(todoList => todoList.id == todoListId);
        },

        handleBack() {
            this.selectedTodoList = null;
        },
        
        handleTodoListSave(todoListId) {
            let todoListToSave = this.todoList.find(todoList => todoList.id == todoListId);

            (async () => {
                await this.saveTodoList(todoListToSave);
            })();
        },

        handleTodoListDelete(todoListId) {
            let todoListToSave = this.todoList.find(todoList => todoList.id == todoListId);

            this.deletionTarget = todoListToSave;
        },

        handleTodoListDeletion(todoListId) {
            this.todoList = this.todoList.filter(todoList => todoList.id != todoListId);
        }
    }
}
</script>