<template>
    <div class="mt-2">
        <div class="row">
            <div class="col-12">
                <h2>Wybrana lista: {{ todoList.title }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="list-group">
                    <todo-list-item @itemsave="handleItemEdit" @itemdelete="handleItemDelete"
                        v-for="item in todoList.items" :key="item" :parentList="todoList.id" :item="item" />
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12" v-if="!addingElement">
                <button @click="handleNewElement" class="btn btn-success" :disabled="saving">Dodaj nowy element</button>
                &nbsp;
                <button @click="handleBack" class="btn btn-primary">Powrót</button>
            </div>
            <div class="col-12" v-else>
                <form>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="item">Punkt listy:</label>
                                <input type="text" name="item" id="item" class="form-control" v-model="itemName" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button @click="saveItem" class="btn btn-success" :disabled="saving">Dodaj</button>
                            &nbsp;
                            <button @click="handleCancel" class="btn btn-danger" :disabled="saving">Anuluj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import ApiClient from './ApiClient.vue';
import TodoListItem from './TodoListItem.vue';

export default {
    name: 'TodoListItemsView',
    props: [ 'todoList' ],
    mixins: [ ApiClient ],
    components: {
        TodoListItem
    },
    data() {
        return {
            addingElement: false,
            itemName: "",
            saving: false
        }
    },
    computed: {
        session() {
            return this.$store.state.session;
        }
    },
    methods: {
        handleBack(ev) {
            ev.preventDefault();
            this.$emit('todolistback');
        },

        handleCancel(ev) {
            ev.preventDefault();
            this.addingElement = false;
        },

        handleNewElement(ev) {
            ev.preventDefault();
            this.addingElement = true;
        },

        saveItem(ev) {
            ev.preventDefault();

            (async () => {
                this.saving = true;
                this.todoList.items.push(this.itemName);

                await this.saveTodoList(this.todoList);
                this.itemName = '';
                this.addingElement = false;

                this.saving = false;
            })();

        },

        handleItemDelete(ev) {
            let index = this.todoList.items.indexOf(ev.item);
            this.todoList.items.splice(index, 1);

            (async () => {
                await this.saveTodoList(this.todoList);
            })();
        },

        handleItemEdit(ev) {
            let index = this.todoList.items.indexOf(ev.initialItem);
            this.todoList.items.splice(index, 1, ev.item); // replace array & notify Vue about change

            (async () => {
                await this.saveTodoList(this.todoList);
            })();
        }
    }
}
</script>