<template>
    <div>
        <div class="list-group-item list-group-item-action" v-if="!editMode">
            {{ item }}
            <div class="float-right">
                <a href="" @click="handleEdit"><i class="fa fa-pencil pr-2"></i></a>
                <a href="" @click="handleDelete"><i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action" v-else>
            <form @submit="saveItem">
                <div class="row">
                    <div class="col-11">
                        <input class="form-control" type="text" name="item" id="item" ref="item" :value="item" />
                    </div>

                    <div class="col-1">
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TodoListItem',
    props: [ 'parentList', 'item' ],
    data() {
        return {
            editMode: false,
        }
    },
    methods: {
        handleEdit(ev) {
            ev.preventDefault();
            this.$emit('itemedit', {parentList: this.parentList, item: this.item});

            this.editMode = true;
        },

        handleDelete(ev) {
            ev.preventDefault();
            this.$emit('itemdelete', {parentList: this.parentList, item: this.item});
        },

        saveItem(ev) {
            ev.preventDefault();

            let item = this.$refs.item.value;
            this.$emit('itemsave', {parentList: this.parentList, initialItem: this.item, item});

            this.editMode = false;
        }
    }
}
</script>