<template>
    <transition name="fade">
        <div class="modal lightbox modal-show" v-if="deletionTarget" id="deleteTodoListModal" tabindex="-1" role="dialog" aria-labelledby="deleteTodoListModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTodoListModalTitle">Uwaga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Czy na pewno chcesz usunąć listę "{{ deletionTarget.title }}"?</p>
                </div>
                <div class="modal-footer">
                    <button @click="hideModal" type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="deleting">Anuluj</button>
                    <button @click="deleteTodoList" type="button" class="btn btn-danger" :disabled="deleting">Usuń</button>
                </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import ApiClient from './ApiClient.vue'

export default {
    name: 'TodoListDeleteModal',
    props: [ 'deletionTarget' ],
    mixins: [ ApiClient ],
    model: {
        prop: 'deletionTarget',
        event: 'deletionTargetChange'
    },
    data() {
        return {
            deleting: false
        }
    },
    computed: {
        session() {
            return this.$store.state.session;
        }
    },
    methods: {
        hideModal() {
            this.$emit('deletionTargetChange', null);
        },

        deleteTodoList() {
            (async () => {
                this.deleting = true;
                await this.delete('http://localhost:8080/todo/' + this.deletionTarget.id);
                this.$emit('todolistdeleted', this.deletionTarget.id);
                this.hideModal();
                this.deleting = false;
            })();
        }
    }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.66);
}

.modal-show {
    display: block !important;
}
</style>