<template>
    <div>
        <div href="" @click="handleTodoListClick" class="list-group-item list-group-item-action" v-if="!editMode">
            {{ title }}
            <div class="float-right">
                <a href="" @click="handleTodoListEdit"><strong><i class="fa fa-pencil pr-3"></i></strong></a>
                <a href="" @click="handleTodoListDelete"><strong><i class="fa fa-times"></i></strong></a>
            </div>
        </div>
        <div class="list-group-item list-group-item-action" v-else>
            <form @submit="handleSave">
                <div class="row">
                    <div class="col-11">
                        <input name="title" id="title" class="form-control" ref="title" :value="title" @input="handleTitleChange" />
                    </div>
                    <div class="col-1">
                        <input type="submit" class="btn btn-success" value="Zapisz" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'TodoList',
    props: [ 'id', 'title' ],
    model: {
        prop: 'title',
        event: 'titlechange'
    },
    data() {
        return {
            editMode: false
        }
    },
    methods: {

        handleTodoListClick(ev) {
            ev.preventDefault();
            this.$emit('todolistclick', this.id);
        },

        handleTodoListEdit(ev) {
            ev.preventDefault();
            ev.stopPropagation();

            this.editMode = true;
            this.$emit('todolistedit', this.id);
        },

        handleTodoListDelete(ev) {
            ev.preventDefault();
            ev.stopPropagation();

            this.$emit('todolistdelete', this.id);
        },

        handleTitleChange() {
            this.$emit('titlechange', this.$refs.title.value);
        },

        handleSave(ev) {
            ev.preventDefault();
            this.$emit('todolistsave', this.id);

            this.editMode = false;
        }
    }
}
</script>

<style>
.delete-button {
    transition: 300ms ease;
}

.delete-button:hover {
    transform: scale(1.1);
}
</style>