<template>
    <div class="row mt-2">
        <div class="col-12">
            <button @click="handleNewFormClick" v-if="!addingNewForm" class="btn btn-success">Dodaj nową listę</button>
            <form @submit="saveTodoList" v-else>
                <div class="row">
                    <div class="col-12">
                        <label for="title">Tytuł nowego formularza</label>
                        <input v-model="title" class="form-control" type="text" name="title" id="title" />
                    </div>

                    <div class="col-12 mt-2">
                        <input type="submit" class="btn btn-primary" value="Zapisz" />
                        &nbsp;
                        <button @click="cancelNewForm" class="btn btn-danger">Anuluj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import ApiHelper from './ApiClient.vue'

export default {
    name: 'TodoListForm',
    data() {
        return {
            addingNewForm: false,
            title: ''
        };
    },
    computed: {
        session() {
            return this.$store.state.session;
        }
    },
    mixins: [ ApiHelper ],
    methods: {
        handleNewFormClick() {
            this.addingNewForm = true;
        },

        cancelNewForm(ev) {
            ev.preventDefault();
            this.addingNewForm = false;
        },

        saveTodoList(ev) {
            ev.preventDefault();

            (async (component = this) => {
                let title = component.title;

                try {
                    let response = await this.post('http://localhost:8080/todo', JSON.stringify({title}));
                    component.$emit('todolistadded', response);
                } catch (err) {
                    component.$emit('error', err);
                }

                component.title = ''; // reset title
                component.addingNewForm = false;
            })();
        }
    }
}
</script>