<template>
  <div id="app">
    <auth-view v-if="!session" />
    <todo-list-view v-else />
  </div>
</template>

<script>
import TodoListView from './components/TodoListView.vue'
import AuthView from './components/AuthView.vue'

export default {
  name: 'App',
  components: {
    TodoListView,
    AuthView
  },
  computed: {
    session() {
      return this.$store.state.session
    }
  }
}
</script>